<div class="container">
  <div>
    <h1 class="heading">Todo List App</h1>
  </div>  
  <div class="input-container">
    <input 
      #box
      type="text" 
      name="todo" 
      id="todo"
      (keyup.enter)="addItem(box.value)"
      (blur)="addItem(box.value); box.value = ''"
    >
    <button (click)="addItem(box.value)" >Add</button>
  </div>
  <div class="todo-list-container">
    <div>List of all todos : </div>
    <div>
      <ul>
        <li *ngFor="let todo of todoList">
          <div class="todo-card">
            <h3>{{todo.value}}</h3>
            <div><button (click)="deleteItem(todo.id)">Delete</button></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>